:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --placeholder-text-color: rgb(96, 96, 96);
  --button-bg: #007acc;
  --button-hover: #005f99;
  --box-color: #ffffff;
  --textarea-color: #ffffff;
}
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --placeholder-text-color: #a8a8a8;
  --button-bg: #333333;
  --button-hover: #545454;
  --box-color: #444444;
  --textarea-color: #444444;
}
body {
  background-color: var(--background-color); /* Light grey background */
  color: var(--text-color);
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

main {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 2rem;
  background-color: var(--box-color); /* White background for the main content */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.radio-buttons {
  margin-bottom: 2rem;
}

label {
  margin: 0 1rem;
  font-size: 1.2rem;
}

.speech-to-text, .text-to-speech {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.speech-to-text button {
  font-size: 1.5rem;
  padding: 0.5rem;
}
p1 {
  background-color: #000000;
}
input[type="text"], textarea {
  width: 300px;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}

textarea {
  width: 400px;
  height: 100px;
}

button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--button-bg);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}

input[type="text"], textarea {
  background-color: var(--textarea-color);
  color: var(--text-color);
}

::placeholder {
  color: var(--placeholder-text-color);
}